@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #632DBB;
    --cor-hover: #391572;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.menu__link:hover {
    color: var(--cor-hover);
}

.destaque {
    color: var(--cor-terciaria);
}

.titulo-pagina {
    display: flex;
    flex-direction: column;
    padding: 3% 0%;
    font-family: var(--fonte-primaria);
    text-align: center;
    gap: 8px;
}

.curriculo {
    padding: 0% 15% 15% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.container {
    padding: 6% 18% 13% 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.texto {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

#perfil {
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    font-weight: 400;
}

.subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.375rem;
    text-align: justify;
}

.item--lista {
    padding-bottom: 30px;
}

a {
    color: var(--cor-terciaria);
    text-decoration: none;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.redes__sociais {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
}

.link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border-color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);

}

.link:hover {
    background-color: #272727;
}

.imagem-teste {
    width: 50%;
    border-radius: 13px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-hover);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .cabecalho {
        padding: 5% 0% 0% 0%;
    }

    .curriculo {
        flex-direction: column;
        padding: 10%;
    }

    .menu {
        justify-content: center;
    }

    .titulo-pagina {
        padding-top: 7%;

    }

    .container {
        flex-direction: column-reverse;
        padding: 15%;
    }

    .texto {
        width: auto;
    }

    @media (max-width: 1969px) {
        .container {
            padding: 10%;
        }
    }
}